Tournament Tracker/.vs/Tournament Tracker/v17/.suo
Tournament Tracker/.vs/Tournament Tracker/FileContentIndex
Tournament Tracker/TrackerLibrary/bin/Debug
Tournament Tracker/TrackerLibrary/obj/Debug
Tournament Tracker/TrackerUI/bin/Debug
Tournament Tracker/TrackerUI/obj/Debug
